[package]
name = "eth-analysis"
version = "0.1.0"
edition = "2021"

[dependencies]
chrono = "0.4"
console = "0.15"
dialoguer = "0.10"
env_logger = "0.9"
lazy_static = "1"
log = "0.4"
maplit = "1"
reqwest = { version = "0.11", features = ["blocking", "json"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sqlx = { version = "0.5", features = [
  "chrono",
  "json",
  "offline",
  "postgres",
  "runtime-tokio-native-tls",
] }
thiserror = "1.0"
tokio = { version = "1", features = ["full"] }
