name: deploy-prod

on:
  push:
    tags:
      - "prod-*"

jobs:
  wait-on-build:
    name: wait on build
    runs-on: ubuntu-latest
    steps:
      - name: Wait for deploy-staging to succeed
        uses: lewagon/wait-on-check-action@v1.1.1
        with:
          ref: ${{ github.ref }}
          check-name: build
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 10
  deploy-k8s-resources:
    name: deploy k8s resources
    runs-on: ubuntu-latest
    needs: wait-on-build
    steps:
      - uses: actions/checkout@master
      - name: deploy
        uses: steebchen/kubectl@v2.0.0
        with:
          config: ${{ secrets.KUBE_CONFIG_DATA_PROD }}
          command: apply -f k8s/prod
  deploy-sync-beacon-states:
    name: deploy sync-beacon-states
    runs-on: ubuntu-latest
    needs: deploy-k8s-resources
    steps:
      - uses: actions/checkout@master
      - name: Make short SHA available
        id: vars
        run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
      - name: deploy
        uses: steebchen/kubectl@v2.0.0
        with:
          config: ${{ secrets.KUBE_CONFIG_DATA_PROD }}
          command: set image cronjob/sync-beacon-states sync-beacon-states=registry.digitalocean.com/ultrasoundmoney/eth-analysis:${{ steps.vars.outputs.sha_short }}
  deploy-update-validator-rewards:
    name: deploy update-validator-rewards
    runs-on: ubuntu-latest
    needs: deploy-k8s-resources
    steps:
      - uses: actions/checkout@master
      - name: Make short SHA available
        id: vars
        run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
      - name: deploy
        uses: steebchen/kubectl@v2.0.0
        with:
          config: ${{ secrets.KUBE_CONFIG_DATA_PROD }}
          command: set image cronjob/update-validator-rewards update-validator-rewards=registry.digitalocean.com/ultrasoundmoney/eth-analysis:${{ steps.vars.outputs.sha_short }}
